/* reset rules */
    h2, p, ul {

        /* to overwrite bootstrap's CSS */
        margin-bottom: 0;
    }

    ul {

        /* to overwrite bootstrap's CSS */
        padding-left: 0;
    }

    li {
        list-style: none;
    }
/* /reset rules */

/* rules used or usable in different parts of the page */
    a {
        transition: color .15s linear;
    }

    a:hover {
        text-decoration: none;
    }

    a svg {
        transition: background-color .15s linear;
    }

    a svg path {
        transition: fill .15s linear;
    }

    .profile-photo {
        width: auto;
        height: 100%;
        border-radius: 50%;
        cursor: pointer;
    }
/* /rules used or usable in different parts of the page */

/* templates */
    .templates {
        display: none;
    }

    .msg-box {
        position: relative;
        display: flex;

        /* min-height instead of height so that this box can grow with the text inside of it */
        min-height: 33px;
        margin: 5px 9%;
        padding: 5px 10px;
        border-radius: 15px;
        align-items: center;
    }

    .msg-box:first-child {
        margin-top: 10px;
    }

    .msg-box:last-child {
        margin-bottom: 10px;
    }

    .msg-box-by-user {
        align-self: flex-end;
        background-color: #dcf8c6;
    }

    .msg-box-by-computer {
        align-self: flex-start;
        background-color: white;
    }

    .msg-box > .time {
        margin-left: 30px;
    }

    .msg-box > .my_dropdown > .my_dropdown-toggle {
        position: absolute;
        right: 10px;
        display: none;
        top: 50%;
        transform: translate(0, -50%);
    }

    .msg-box:hover > .my_dropdown > .my_dropdown-toggle {
        display: block;
    }

    .msg-box > .my_dropdown > .my_dropdown-menu {
        position: absolute;
        top: 95%;
        display: none;
        border-radius: 5px;
        padding: 15px;
        background-color: white;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26),0 2px 10px 0 rgba(0,0,0,.16);
        color: #444;
        white-space: nowrap;
        cursor: pointer;
        z-index: 10;
    }

    /* to position the dropdown menu so that it doesn't get cut off at lower viewport widths */
    .msg-box.msg-sent-by-user > .my_dropdown > .my_dropdown-menu.to-the-left {
        right: -7px;
    }

    /* to position the dropdown menu so that it doesn't get cut off at lower viewport widths */
    .msg-box.msg-sent-by-computer > .my_dropdown > .my_dropdown-menu.to-the-right {
        left: -6px;
    }
/* /templates */

/* rules used in specific parts of the page */
    html {
        min-width: 650px;
        min-height: 500px;
        
        /* to make a reference for the percentage heights of thix box's children */
        height: 100%;

        font-size: 14px;
    }
    
    body {

        /* to make a reference for the percentage heights of thix box's children */
        height: 100%;

        font-family: 'Ubuntu', sans-serif;
        color: #464b3d;
    }

    .left-col {
        float: left;
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 100%;
    }

    .left-col > header > nav {
        display: flex;
        height: 60px;
        padding: 8px 15px 8px 17px;
        background-color: #eeeeee;
        align-items: center;
        justify-content: space-between;
    }

    .left-col > header > nav > .icons-container > [src*="icon"] {
        margin-left: 20px;
        cursor: pointer;
    }

    .left-col > header > .get-notified-box {
        display: flex;
        min-height: 88px;
        padding: 15px;
        background-color: #9de1fe;
        cursor: pointer;
        align-items: center;
    }

    .left-col > header > .get-notified-box > .notifications-off-icon {
        flex-shrink: 0;
    }

    .left-col > header > .get-notified-box > .msg-container {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .left-col > header > .get-notified-box > .msg-container > span:first-child {
        font-size: 16px;
        line-height: 21px;
    }

    .left-col > header > .get-notified-box:hover > .msg-container > span:last-child {
        text-decoration: underline;
    }
    
    .left-col > header > .get-notified-box > .msg-container > span:last-child > .right-arrow-icon {
        padding-left: 5px;
    }

    .left-col > header > .search-bar-container {
        height: 50px;
        padding: 7px 15px;
        background-color: #f8f8f8;
    }

    .left-col > header > .search-bar-container > .search-bar {
        display: flex;
        height: 100%;
        border-radius: 30px;
        padding: 0 15px;
        background-color: white;
        align-items: center;
    }

    .left-col > header > .search-bar-container > .search-bar > .magnifying-glass-icon {
        flex-shrink: 0;
    }

    .left-col > header > .search-bar-container > .search-bar > input {

        /* to overwrite bootstrap's CSS */
        width: 100%;

        margin-left: 24px;

        /* to overwrite bootstrap's CSS */
        border: none;

        color: #464b3d;
    }

    .left-col > main {
        overflow-y: auto;
    }

    .left-col > main > .chat-info-box {
        display: flex;
        height: 70px;
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
        padding: 8px 15px;
        align-items: center;
    }

    .left-col > main > .chat-info-box.clicked {
        background-color: #e9ebeb;
    }

    .left-col > main > .chat-info-box:hover {
        cursor: pointer;
    }

    .left-col > main > .chat-info-box:not(.clicked):hover {
        background-color: rgb(244, 245, 245);
    }

    .left-col > main > .chat-info-box > .profile-photo {
        margin-right: 15px;
    }

    .left-col > main > .chat-info-box > .container {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .left-col > main > .chat-info-box > .container > .name-and-day-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .left-col > main > .chat-info-box > .container > .name-and-day-container > .contact-name {
        font-size: 17px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .left-col > main > .chat-info-box > .container > .name-and-day-container > .day-or-time-of-last-msg {

        /* to create space between the name and the day or time of the last message (otherwise the two would be too close if the name is long and the viewport's width is low enough)  */
        margin-left: 10px;
        font-size: 13px;
        color: rgba(0, 0, 0, .4);
    }

    .left-col > main > .chat-info-box > .container > .contact-last-msg {
        color: rgba(0, 0, 0, .6);
    }

    .right-col {
        float: left;
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100%;
        border-left: 1px solid #e3e3e3;
    }

    .right-col > header > nav {
        display: flex;
        height: 60px;
        padding: 8px 15px;
        background-color: #eeeeee;
        align-items: center;
    }

    .right-col > header > nav > .profile-photo {
        margin-right: 15px;
        font-size: 17px;
    }

    .right-col > header > nav > .name-and-last-seen-container {
        flex-grow: 1;
    }
    
    .right-col > header > nav > .name-and-last-seen-container > .contact-name {
        font-size: 17px;
    }

    .right-col > header > nav > .name-and-last-seen-container > .last-seen {
        color: rgba(0, 0, 0, .6);
    }

    .right-col > header > nav > .icons-container > [src*="icon"] {
        margin-left: 20px;
        cursor: pointer;
    }

    .right-col > .chat-windows-container {
        display: flex;
        flex-grow: 1;
        overflow-y: auto;
    }

    .right-col > .chat-windows-container > .chat-window {
        display: none;
        background: linear-gradient(rgba(229,221,213,.95), rgba(229,221,213,.95)), url("../img/chat-window-background.png");
        overflow-y: auto;
    }

    .right-col > .chat-windows-container > .chat-window.opened {
        display: flex;
        flex-direction: column;
        flex-grow: 1;  
    }

    /* workaround to make visible the bottom margin of the last message of the window chat (the last
    child's bottom margin or padding is ignored when the parent has the overflow property: the
    overflow property applies only to content (it doesn't apply to paddings or margins) */
    .right-col > .chat-windows-container > .chat-window::after {
        content: "";
        flex-basis: 1px;
        flex-shrink: 0;
    }

    .right-col > .input-bar {
        display: flex;
        height: 62px;
        padding: 10px 23px;
        background-color: #eeeeee;
        align-items: center;
    }

    .right-col > .input-bar > .emojis-menu-icon,
    .right-col > .input-bar > .microphone-icon {
        cursor: pointer;
    }

    .right-col > .input-bar > .input-field {
        flex-grow: 1;
        margin: 0px 20px;
        width: 50px;
        
        /* to overwrite bootstrap's CSS */
        border: none;

        border-radius: 30px;
        padding: 10px 15px;
        color: #7e7d7d;
        font-size: 15px;
        line-height: 20px;
    }

    .right-col > .input-bar > .send-icon {
        display: none;
    }
/* /rules used in specific parts of the page */

/* rules for specific width ranges */
    @media screen and (min-width: 901px) {

        /* rules used in specific parts of the page */
        .left-col {
            width: 35%;
        }

        .right-col {
            width: 65%;
        }
        /* /rules used in specific parts of the page */

    }

    @media screen and (min-width: 1441px) {

        /* rules used in specific parts of the page */
        html {
            background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
        }

        body {
            width: 90%;
            height: calc(100% - 20px - 20px);
            margin: 20px auto;
        }

        .left-col {
            width: 30%;
        }

        .right-col {
            width: 70%;
        }
        /* /rules used in specific parts of the page */

    }
/* /rules for specific width ranges */
